{% extends 'base.html.twig' %}

{% block title %}Food List{% endblock %}

{% block body %}
    <h1>Food List</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for food in food %}
            <tr>
                <td>{{ food.id }}</td>
                <td>{{ food.name }}</td>
                <td>{{ food.price }}</td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_food_new') }}">Create new</a>
{% endblock %}
