{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_category') }}" class="btn btn-default">Back to Category List</a>
    <hr/>
    <h2 class="page-header">Id : {{categories.id }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Category: {{ categories.name }}</li>
    </ul>
{% endblock %}
